@import "bootstrap-sprockets";
@import "bootstrap";


/* universal */

//@mixin center {
//  　　text-align: center;
//  　　position: relative;
//  　　top: 50%;
//  　　-webkit-transform: translateY(-50%);
//  　　-ms-transform: translateY(-50%);
//  　　transform: translateY(-50%);
//}
//
//@mixin font-size($size, $base: 16) {
//  　　font-size: $size + px;
//  　　font-size: ($size / $base) + rem;
//}
//
//@mixin bg-gradient($angle: 180deg, $color: #0bd, $amount: 20%) {
//  　　background: linear-gradient($angle, $color, adjust-hue($color, $amount)) fixed;
//}



//body {
//  margin: 1em;
//  font-family: 'Hiragino Kaku Gothic Pro','游ゴシック体','Yu Gothic',YuGothic,Meiryo,HelveticaNeue,'Helvetica Neue',Helvetica,Arial,sans-serif;
//}
//h1 {
//  font-size: 1.6em;
//  border: solid #000;
//  border-width: 0 0 1px 0;
//}
//iframe {
//  max-width: 100%;
//  overflow-x: scroll-x;
//}
//p>span {
//  font-weight: bold;
//}




body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: #777;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}